setup.cfg
setup.py
gwrite/__init__.py
gwrite/config.py
gwrite/gtkdialogs.py
gwrite/gtklatex.py
gwrite/gwrite.py
gwrite/i18n.py
gwrite/webkitedit.py
gwrite/webkitlinkview.py
scripts/gwrite
gwrite.png
gwrite.desktop.in
po/fr.po
po/zh_CN.po
po/POTFILES.in
gwrite/icons/stock_font-size.png
gwrite/icons/stock_insert-header.png
gwrite/icons/stock_insert_image.png
gwrite/icons/stock_insert-rule.png
gwrite/icons/stock_insert_section.png
gwrite/icons/stock_insert-table.png
gwrite/icons/stock_line-spacing-1.5.png
gwrite/icons/stock_line-spacing-1.png
gwrite/icons/stock_line-spacing-2.png
gwrite/icons/stock_link.png
gwrite/icons/stock_list_bullet.png
gwrite/icons/stock_list_enum-off.png
gwrite/icons/stock_list_enum.png
gwrite/icons/stock_list_enum-restart.png
gwrite/icons/stock_list-insert-unnumbered.png
gwrite/icons/stock_subscript.png
gwrite/icons/stock_superscript.png
gwrite/icons/stock_text_color_hilight.png
gwrite/icons/stock_text-monospaced.png
gwrite/icons/stock_text-quickedit.png
gwrite/icons/stock_tools-hyphenation.png
gwrite/icons/stock_view-html-source.png
